
#blog{
	background-image: url("./bgblog.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;

}

#contacts{
	background-image: url("./bgcontacts.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	

}
#index{
	background-image: url("./bgindex.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;

}

h1{
	color:#AA4139;
	text-align: center;
	border:4px double rgb(255,150,150);
	cursor: pointer;
	text-transform: uppercase;
}
h5{
	text-align: center;
	background: rgb(128,128,128, 0.5);
	font-style: italic;
	font-weight: bold;

}


*{
	font-family: calibri;
}




input, textarea[required] {
			border-width: 3px;
			border-color: gray;
			border-style: solid;
			text-overflow: hidden
 
 }

.nav{
	list-style: none;
	display:inline-block;
	background: rgb(255,150,150,0.2);
	font-weight: bold;
	color: #AA4139;

}



#facts, #aboutme{
	background: rgb(128,128,128, 0.5);
	border: 10px solid rgb(0,0,0,0.5);

	
}





h1 + h2:hover{
	text-decoration: underline;
	color:#AA4139;
}

figcaption{
	text-align:right;
	text-transform: uppercase;
}

img{
	float:right;
	border-radius: 20%;
	margin: 0 0 10px 10px;
}

audio{
	float:right;
}

article > h2 {
	text-decoration: underline;
	letter-spacing: 1px;
}

legend{
	text-transform: uppercase;
	font-weight: bold;
	color:#AA4139;
}
button {
	background-color:#AA4139;
	border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
 }


